<div id="container">
    <div class="container">
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                <h1 class="text-center">{{message}}</h1>
                <p class="text-center lead">{{error.status}}!<br> <pre>{{error.stack}}</pre> </p>
                <div class="buttons text-center"> <a class="btn btn-primary btn-lg" href="/">Tiếp tục</a> </div>
            </div>
            <!--Middle Part End -->
        </div>
    </div>
</div>