table.productList td.listCategories a {
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    background: #337ab7;
    display: block
}

table.productList td.listCategories a:hover {
    background: #5096d2;
}

table.productList td.listCategories a:first-child {
    margin-top: 0;
}

.not-HasProduct {
    padding: 7px;
    margin-bottom: 20px;
    font-size: 1.6em;
}

.price-new {
    display: block;
}

.price-new:last-child {}

.fromTo {
    text-align: center;
}