<div id="custom_side_block" class="custom_side_block_right sort-order-2">
    <div class="custom_side_block_icon"> <i class="fa fa-chevron-right"></i> </div>
    <table>
        <tbody>
            <tr>
                <td>
                    <h2>{{__ 'News'}}</h2>
                </td>
            </tr>
            <tr>
                <td><img alt="" src="/images/banner/cms-block.jpg"></td>
            </tr>
            <tr>
                <td>Nội dung của tin tức!</td>
            </tr>
            <tr>
                <td><strong><a href="#">Đọc thêm</a></strong></td>
            </tr>
        </tbody>
    </table>
</div>