<footer id="footer">
    <div class="fpart-first">
        <div class="container">
            <div class="row">
                <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h5>Thông tin liên hệ</h5>
                    <ul>
                        <li class="address"><i class="fa fa-map-marker"></i>Central Square, 22 Hoi Wing Road, New Delhi, India</li>
                        <li class="mobile"><i class="fa fa-phone"></i>0963 09 8800</li>
                        <li class="email"><i class="fa fa-envelope"></i>Gửi thư đến chúng tôi qua <a href="contact-us.html">Liên hệ</a>
                    </ul>
                </div>
                <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <h5>Thông tin chung</h5>
                    <ul>
                        <li><a href="about-us.html">Giới thiệu</a></li>
                        <li><a href="about-us.html">Delivery Information</a></li>
                        <li><a href="about-us.html">Privacy Policy</a></li>
                        <li><a href="about-us.html">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
                <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <h5>Dịch vụ khách hàng</h5>
                    <ul>
                        <li><a href="contact-us.html">Liên hệ</a></li>
                        <li><a href="#">Hoàn trả tiền</a></li>
                        <li><a href="sitemap.html">Site Map</a></li>
                    </ul>
                </div>
                <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <h5>Extras</h5>
                    <ul>
                        <li><a href="#">Thương hiệu</a></li>
                        <li><a href="#">Gift Vouchers</a></li>
                        <li><a href="#">Affiliates</a></li>
                        <li><a href="#">Specials</a></li>
                    </ul>
                </div>
                <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <h5>Tài khoản</h5>
                    <ul>
                        <li><a href="#">Quản lý tài khoản</a></li>
                        <li><a href="#">Order History</a></li>
                        <li><a href="#">Sản phẩm yêu thích</a></li>
                        <li><a href="#">Newsletter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="fpart-second">
        <div class="container">
            <div id="powered" class="clearfix">
                <div class="powered_text pull-left flip">
                    <p>Bản quyển © 2017 Máy Tính Phương Anh. Thiết kế bởi <a href="http://www.wefuny.com" target="_blank">Wefuny Design</a></p>
                </div>
                <div class="social pull-right flip">
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="/images/socialicons/facebook.png" alt="Facebook" title="Facebook"></a>
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="/images/socialicons/twitter.png" alt="Twitter" title="Twitter"> </a>
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="/images/socialicons/google_plus.png" alt="Google+" title="Google+"> </a>
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="/images/socialicons/pinterest.png" alt="Pinterest" title="Pinterest">                        </a>
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="/images/socialicons/rss.png" alt="RSS" title="RSS"> </a>
                </div>
            </div>
            <div class="bottom-row">
                <div class="custom-text text-center"> <img alt="" src="/images/logo-small.png">
                    <p>This is a CMS block. You can insert any content (HTML, Text, Images) Here. Lorem Ipsum is simply dummy
                        text of the printing and typesetting industry.</p>
                </div>
                <div class="payments_types">
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="/images/payment/payment_paypal.png" alt="paypal" title="PayPal"></a>
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="/images/payment/payment_american.png" alt="american-express" title="American Express"></a>
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="/images/payment/payment_2checkout.png" alt="2checkout" title="2checkout"></a>
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="/images/payment/payment_maestro.png" alt="maestro" title="Maestro"></a>
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="/images/payment/payment_discover.png" alt="discover" title="Discover"></a>
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="/images/payment/payment_mastercard.png" alt="mastercard" title="MasterCard"></a>
                </div>
            </div>
        </div>
    </div>
    <div id="back-top"><a data-toggle="tooltip" title="Back to Top" href="javascript:void(0)" class="backtotop"><i class="fa fa-chevron-up"></i></a></div>
</footer>