<h3 class="subtitle">{{__ "Related Products"}}</h3>
<div class="owl-carousel related_pro">
    <div class="product-thumb">
        <div class="image">
            <a href="product.html"><img src="/images/product/samsung_tab_1-200x200.jpg" alt="Aspire Ultrabook Laptop" title="Aspire Ultrabook Laptop" class="img-responsive" /></a>
        </div>
        <div class="caption">
            <h4><a href="product.html">Aspire Ultrabook Laptop</a></h4>
            <p class="price"> <span class="price-new">$230.00</span> <span class="price-old">$241.99</span> <span class="saving">-5%</span>                </p>
            <div class="rating"> 
                <span class="fa fa-stack">
                    <i class="fa fa-star fa-stack-2x"></i>
                    <i class="fa fa-star-o fa-stack-2x"></i>
                </span>
                <span class="fa fa-stack">
                    <i class="fa fa-star fa-stack-2x"></i>
                    <i class="fa fa-star-o fa-stack-2x"></i>
                </span>
                <span class="fa fa-stack">
                    <i class="fa fa-star fa-stack-2x"></i>
                    <i class="fa fa-star-o fa-stack-2x"></i>
                </span>
                <span class="fa fa-stack">
                    <i class="fa fa-star fa-stack-2x"></i>
                    <i class="fa fa-star-o fa-stack-2x"></i>
                </span>
                <span class="fa fa-stack">
                    <i class="fa fa-star-o fa-stack-2x"></i>
                </span> 
            </div>
        </div>
        <div class="button-group">
            <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
            <div class="add-to-links">
                <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
            </div>
        </div>
    </div>
    <div class="product-thumb">
        <div class="image">
            <a href="product.html"><img src="/images/product/macbook_pro_1-200x200.jpg" alt=" Strategies for Acquiring Your Own Laptop " title=" Strategies for Acquiring Your Own Laptop "
                    class="img-responsive" /></a>
        </div>
        <div class="caption">
            <h4><a href="product.html"> Strategies for Acquiring Your Own Laptop </a></h4>
            <p class="price"> <span class="price-new">$1,400.00</span> <span class="price-old">$1,900.00</span> <span class="saving">-26%</span>                </p>
        </div>
        <div class="button-group">
            <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
            <div class="add-to-links">
                <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
            </div>
        </div>
    </div>
    <div class="product-thumb">
        <div class="image">
            <a href="product.html"><img src="/images/product/macbook_1-200x200.jpg" alt="Ideapad Yoga 13-59341124 Laptop" title="Ideapad Yoga 13-59341124 Laptop"
                    class="img-responsive" /></a>
        </div>
        <div class="caption">
            <h4><a href="product.html">Ideapad Yoga 13-59341124 Laptop</a></h4>
            <p class="price"> $2.00 </p>
            <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
        </div>
        <div class="button-group">
            <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
            <div class="add-to-links">
                <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
            </div>
        </div>
    </div>
    <div class="product-thumb">
        <div class="image">
            <a href="product.html"><img src="/images/product/ipod_shuffle_1-200x200.jpg" alt="Hp Pavilion G6 2314ax Notebok Laptop" title="Hp Pavilion G6 2314ax Notebok Laptop"
                    class="img-responsive" /></a>
        </div>
        <div class="caption">
            <h4><a href="product.html">Hp Pavilion G6 2314ax Notebok Laptop</a></h4>
            <p class="price"> $122.00 </p>
        </div>
        <div class="button-group">
            <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
            <div class="add-to-links">
                <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
            </div>
        </div>
    </div>
    <div class="product-thumb">
        <div class="image">
            <a href="product.html"><img src="/images/product/ipod_touch_1-200x200.jpg" alt="Samsung Galaxy S4" title="Samsung Galaxy S4" class="img-responsive"
                /></a>
        </div>
        <div class="caption">
            <h4><a href="product.html">Samsung Galaxy S4</a></h4>
            <p class="price"> <span class="price-new">$62.00</span> <span class="price-old">$122.00</span> <span class="saving">-50%</span>                </p>
        </div>
        <div class="button-group">
            <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
            <div class="add-to-links">
                <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
            </div>
        </div>
    </div>
    <div class="product-thumb">
        <div class="image">
            <a href="product.html"><img src="/images/product/ipod_shuffle_1-200x200.jpg" alt="Hp Pavilion G6 2314ax Notebok Laptop" title="Hp Pavilion G6 2314ax Notebok Laptop"
                    class="img-responsive" /></a>
        </div>
        <div class="caption">
            <h4><a href="product.html">Hp Pavilion G6 2314ax Notebok Laptop</a></h4>
            <p class="price"> $122.00 </p>
        </div>
        <div class="button-group">
            <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
            <div class="add-to-links">
                <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
            </div>
        </div>
    </div>
</div>