<aside id="column-right" class="col-sm-3 hidden-xs">
    <h3 class="subtitle">Tài khoản</h3>
    <div class="list-group">
        <ul class="list-item">
            <li><a href="#">Quản lý tài khoản</a></li>
            <li><a href="#">Quản lý địa chỉ</a></li>
            <li><a href="#">Sản phẩm yêu thích</a></li>
            <li><a href="#">Đơn hàng</a></li>
            <li><a href="#">Tải tệp tin</a></li>
            <li><a href="#">Điểm thưởng</a></li>
            <li><a href="#">Đổi trả</a></li>
            <li><a href="#">Giao dịch</a></li>
        </ul>
    </div>
</aside>