<div id="video_box" class="vb-right sort-order-1">
    <div id="video_box_icon"><i class="fa fa-play"></i></div>
    <p>
        <iframe allowfullscreen="" src="//www.youtube.com/embed/1taGqA7q5nI" height="315" width="560"></iframe>
    </p>
</div>