<ul>
    <li><a href="/backoffice" class="current">Trang chủ</a>
        <div class="divnavul">
            <ul>
                <li class="first"><a href="/backoffice/categories">Lịch sử đăng nhập</a></li>
                <li><a href="/backoffice/account/edit/{{customer._id}}">Tài khoản</a></li>
                <li><a href="/backoffice/administrators">Quản lý tài khoản quản trị</a></li>
                <li><a href="javascript:void(0);">Thoát</a></li>
            </ul>
        </div>
    </li>
    <li><a href="javascript:void(0);">Sản phẩm</a>
        <div class="divnavul">
            <ul>
                <li><a href="/backoffice/products">Danh sách sản phẩm</a></li>
                <li><a href="/backoffice/products/add-product">Thêm mới sản phẩm</a></li>
            </ul>
        </div>
    </li>
    <li><a href="javascript:void(0);">Danh mục</a>
        <div class="divnavul">
            <ul>
                <li><a href="/backoffice/categories">Danh sách thể loại</a></li>
                <li><a href="/backoffice/categories/add">Thêm mới thể loại</a></li>
            </ul>
        </div>
    </li>
</ul>