<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="/khach-hang">Khách hàng</a></li>
            <li><a href="/khach-hang/dang-ky">Đăng ký</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Right Part Start -->
            {{> right-account}}
            <!--Right Part End -->
            <!--Middle Part Start-->
            <div class="col-sm-9" id="content">
                <h1 class="title">Quản lý tài khoản khách hàng</h1>
                <p>- Quý khách có thể truy cứu hoặc cập nhật thông tin của quý khách.</p>
                <p>- Quản lý các giao dịch đặt hàng của quý khách với chúng tôi.</p>
                <p>- Cập nhật trạng thái đơn hàng và trạng thái đơn hàng được vẫn chuyển.</p>
            </div>
            <!--Middle Part End -->
            
        </div>
    </div>
</div>