<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="/khach-hang/quen-mat-khau">Khôi phục mật khẩu</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-9">
                <h1 class="title">Khôi phục mật khẩu khách hàng</h1>
                <div class="row">
                    {{#if hasErrors}}
                    <div class="alert alert-danger">
                        {{#each messages}}
                        <p>{{this}}</p>
                        {{/each}}
                    </div>
                    {{/if}}
                    {{#if hasSuccess}}
                    <div class="alert alert-success">
                        {{#each messagesSuccess}}
                        <p>{{this}}</p>
                        {{/each}}
                    </div>
                    {{/if}}
                    <div class="col-sm-6">
                        <h2 class="subtitle">Các bước khôi phục mật khẩu</h2>
                        <p>1. Quý khách vui lòng cung cấp cho chúng tôi địa chỉ E-Mail cần khôi phục mật khẩu, bằng cách nhập vào trường địa chỉ E-Mail ở bên phải.</p>
                        <p>2. Sau khi gửi yêu cầu, hệ thống sẽ tự động gửi cho quý khách một E-Mail, quý khách cần đăng nhập vào hòm thư và làm theo hướng dẫn.</p>
                        <p>3. E-Mail khôi phục mật khẩu chỉ có thời hạn nhất định, quý khách cần hoàn thành các thao tác ngay lúc này.</p>
                        <p>4. <strong>Chú ý:</strong> Nếu quý khách không nhận được E-Mail khôi phục mật khẩu, vui lòng kiểm tra trong các mục khách ngoài mục <strong>Hộp thư đến</strong></p>
                    </div>
                    <div class="col-sm-6">
                        <form method="post" action="/khach-hang/quen-mat-khau">
                            <h2 class="subtitle">Khách hàng khôi phục mật khẩu</h2>
                            <p><strong>Nhập thông tin yêu cầu vào trường bên dưới.</strong></p>
                            <div class="form-group">
                                <label class="control-label" for="email">Địa chỉ E-Mail</label>
                                <input type="text" name="email" value="" placeholder="Xin mời nhập địa chỉ E-Mail" id="email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <a href="/khach-hang/dang-ky">Tạo một tài khoản mới?</a>
                                <a href="/khach-hang/dang-nhap" class="pull-right">Tôi muốn đăng nhập?</a>
                            </div>
                            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                            <input type="submit" value="Gửi yêu cầu" class="btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
            <!--Middle Part End -->
            <!--Right Part Start -->
            {{> right-account}}
            <!--Right Part End -->
        </div>
    </div>
</div>