<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="/khach-hang/quen-mat-khau">Khôi phục mật khẩu</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-9">
                <h1 class="title">Thay đổi mật khẩu mới</h1>
                <div class="row">
                    {{#if hasErrors}}
                    <div class="alert alert-danger">
                        {{#each ressetmessages}}
                        <p>{{this}}</p>
                        {{/each}}
                    </div>
                    {{/if}}
                    {{#if hasSuccess}}
                    <div class="alert alert-success">
                        {{#each ressetSuccess}}
                        <p>{{this}}</p>
                        {{/each}}
                    </div>
                    {{/if}}
                    <div class="col-sm-6">
                        <h2 class="subtitle">Các bước thay đổi mật khẩu mới</h2>
                        <p>1. Quý khách vui lòng nhập một mật khẩu mới vào trường bên phải.</p>
                        <p>2. Quý khách nên chọn mật khẩu có độ dài từ 6 ký tự trở lên.</p>
                        <p>3. Mật khẩu nên chứa các ký tự sau:<br />
                        <ul>
                            + Ký tự là chữ hoa.</br />
                            + Chứa các con số.<br />
                            + Chứa các ký tự đặc biệt.
                         </ul>
                    </div>
                    <div class="col-sm-6">
                        <form method="post">
                            <h2 class="subtitle">Khách hàng đổi mật khẩu mới</h2>
                            <p><strong>Nhập thông tin yêu cầu vào trường bên dưới.</strong></p>
                            <div class="form-group">
                                <label class="control-label" for="password">Mật khẩu mới</label>
                                <input type="password" name="password" value="" placeholder="Nhập mật khẩu mới" id="password" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="confirmpassword">Xác nhận lại mật khẩu</label>
                                <input type="password" name="confirmpassword" value="" placeholder="Nhập lại mật khẩu phía trên" id="confirmpassword" class="form-control" />
                            </div>
                            <div class="form-group">
                                <a href="/khach-hang/dang-nhap">Tôi không muốn khôi phục mật khẩu và cần đăng nhập ngay?</a>
                            </div>
                            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                            <input type="submit" value="Thay đổi mật khẩu" class="btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
            <!--Middle Part End -->
            <!--Right Part Start -->
            {{> right-account}}
            <!--Right Part End -->
        </div>
    </div>
</div>